### Eclipse ###
.checkstyle
.classpath
.project
.settings
bin/

### IntelliJ ###
.idea

### Java ###
.class
.ear
.jar
.war

### Gradle ###
.gradle
lib/build/

# Don't ignore Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
